*{
    -webkit-user-select: none;
    font-size:18px;
}
.answer {
    max-width:4em;
}
.drag {
    text-align:center;
    color:white;
    display:inline-block;
    background:grey;
    min-width:4em;
}
pre {
    background:lightgrey;
    color:black;
    overflow-y:scroll;
}
img {
    max-width:100%;
}