*{
    color:white !important;
    background:rgb(18,18,18);
    -webkit-user-select: none;
}
pre{
    background:#2D3033;
    color:white !important;
    overflow-y:scroll;
}
.answer {
    max-width:4em;
}
img {
    max-width:100%;
}

button:disabled,
button[disabled] {
    background:lightgrey;
    color:black !important;
}